.menu-option-items{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-right: 45px;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: right;
}
.items-content{
    display: flex;
    flex-wrap: wrap;
    
    .item-panel::-webkit-scrollbar {
        display: none; 
    }
    
    .item-panel {
        margin: 40px;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-y: scroll;
        width: 300px;
        height: 300px; 
        
        .item-code {
            margin-top: 20px;
        }
        .button-box {
            position: absolute;
            top: 8px;
            right: 8px;

            .edit{
                color:#8bc34a;
                cursor: pointer;
                margin-left:20px;
            }

            .trash{
                margin-left:20px;
                color: orangered;
                cursor: pointer;
            }
            .ban{
                margin-left:20px;
                cursor: pointer;
                color: #3f729b;
            }
        }
        .more-info-box {
            cursor: pointer;
            text-align: right;
            .plus {
                color:#8bc34a;
            }
        }
    }
    
    
}
